dist: xenial
language: python
os: osx
python:
  - "3.7"
env:
 - SETUP_TARGET=.[test] TEST_CASES="test.test_core_operators test.test_pipeline test.test_custom_schemas"
 - SETUP_TARGET=.[full,test] TEST_CASES="test.test_interoperability test.test_optimizers test.test_notebooks"
addons:
  apt:
    sources:
    - sourceline: 'ppa:mhier/graphviz-latest'
    - sourceline: deb http://cloud.r-project.org/bin/linux/ubuntu xenial/
      key_url: http://keyserver.ubuntu.com/pks/lookup?op=get&search=0x51716619E084DAB9
    packages:
    - graphviz
    - r-base
    - swig
install:
  - pip install $SETUP_TARGET
  - export PYTHONPATH=`pwd`
script:
  - echo -e "${ANSI_GREEN}Compiling all...${ANSI_RESET}" && echo -en 'travis_fold:start:compile\\r'
  - python -m compileall .
  - echo -en 'travis_fold:end:compile\\r'
  - echo -e "${ANSI_GREEN}Running flake8...${ANSI_RESET}" && echo -en 'travis_fold:start:flake8\\r'
  - flake8 . --count --select=E9,F63,F72,F82 --show-source --statistics
  - echo -en 'travis_fold:end:flake8\\r'
  - echo -e "${ANSI_GREEN}Running mypy...${ANSI_RESET}" && echo -en 'travis_fold:start:mypy\\r'
  - mypy -p lale
  - echo -en 'travis_fold:end:mypy\\r'
  - echo -e "${ANSI_GREEN}Running Tests...${ANSI_RESET}" && echo -en 'travis_fold:start:tests\\r'
  - python -m unittest $TEST_CASES
  - echo -en 'travis_fold:end:tests\\r'
