dist: xenial
language: python
python:
  - "3.6"
env:
 - SETUP_TARGET=.[test] TEST_CASES="test/test_core_operators.py test/test_core_pipeline.py test/test_custom_schemas.py test/test_json_pretty_viz.py test/test_grammar.py"
 - SETUP_TARGET=.[full,test] TEST_CASES="test/test_type_checking.py test/test_interoperability.py test/test_optimizers.py test/test_pipeline.py test/test_autoai_libs.py"
 - SETUP_TARGET=.[full,test] TEST_CASES="test/test_notebooks.py"
 - SETUP_TARGET=.[test] TEST_CASES="test/test_autoai_output_consumption.py"
 - SETUP_TARGET=.[test] TEST_CASES="test/test_autogen_lib.py"
addons:
  apt:
    packages:
    - graphviz
before_install:
  - pip install -U numpy
install:
  - pip install $SETUP_TARGET
  - export PYTHONPATH=`pwd`
script:
  - echo -e "${ANSI_GREEN}Compiling all...${ANSI_RESET}" && echo -en 'travis_fold:start:compile\\r'
  - python -m compileall .
  - echo -en 'travis_fold:end:compile\\r'
  - echo -e "${ANSI_GREEN}Running flake8...${ANSI_RESET}" && echo -en 'travis_fold:start:flake8\\r'
  - flake8 . --count --select=E9,F63,F72,F82 --show-source --statistics
  - echo -en 'travis_fold:end:flake8\\r'
  - echo -e "${ANSI_GREEN}Running mypy...${ANSI_RESET}" && echo -en 'travis_fold:start:mypy\\r'
  - mypy -p lale
  - echo -en 'travis_fold:end:mypy\\r'
  - echo -e "${ANSI_GREEN}Running Tests...${ANSI_RESET}" && echo -en 'travis_fold:start:tests\\r'
  - travis_wait 60 py.test -v --cov-report=xml --cov=lale $TEST_CASES
  - bash <(curl -s https://codecov.io/bash)
  - echo -en 'travis_fold:end:tests\\r'

stages:
  - test
  - deploy
jobs:
  include:
    - stage: deploy
      install: skip
      script: skip
      deploy:
          provider: pypi
          server: https://test.pypi.org/legacy/
          user: __token__
          password: $PYPI_TOKEN
          skip_existing: true
          on:
              fork: false
