# all of setup.py -> install_requires
numpy
black==19.10b0
graphviz
hyperopt
jsonschema
jsonsubschema
scikit-learn>=1.0.0,<=1.2.0
scipy
pandas<2.0.0
decorator
h5py
astunparse
typing-extensions
# subset of setup.py -> extras_require -> full
xgboost<=1.3.3
lightgbm
liac-arff>=2.4.0
numba==0.49.0
aif360>=0.4.0
imbalanced-learn
cvxpy>=1.0,<=1.1.7
smac<=0.10.0
# subset of setup.py -> extras_require -> test
sphinx>=5.0.0
sphinx_rtd_theme>=0.5.2
docutils<0.17
m2r2
sphinxcontrib.apidoc
sphinxcontrib-svg2pdfconverter
