sphinx==2.4.4
sphinx_rtd_theme
m2r
sphinxcontrib.apidoc
astunparse
graphviz
hyperopt==0.2.3
jsonschema
jsonsubschema
numpy
PyYAML
scikit-learn==0.20.3
scipy
pandas<=0.25.3
xgboost
lightgbm
decorator
h5py
autoai-libs
liac-arff>=2.4.0
aif360
numba
imbalanced-learn==0.4.3
