sphinx>=2.2
sphinx_rtd_theme
m2r
sphinxcontrib.apidoc
astunparse
graphviz
hyperopt==0.1.2
jsonschema==2.6.0
jsonsubschema
liac-arff>=2.4.0
numpy
PyYAML
scikit-learn==0.20.3
scipy
pandas
xgboost
lightgbm
decorator
h5py
