---
name: Tests

on: [push, pull_request]

jobs:
  static:
    name: static checks / linters
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ${{ env.pythonLocation }}
        # Look to see if there is a cache hit for the setup file
        key: ${{ runner.os }}-pip-${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install numpy
      run: pip install -U numpy
    - name: Install dependencies
      run: pip install --upgrade --upgrade-strategy eager .[full,test]
    - name: pre-commit checks
      uses: pre-commit/action@v2.0.0

  # deps:
  #   name: Install and cache dependencies
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       python-version: [3.6]

  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Set up Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: ${{ matrix.python-version }}
  #   - name: Cache pip
  #     uses: actions/cache@v2
  #     with:
  #       path: ${{ env.pythonLocation }}
  #       # Look to see if there is a cache hit for the setup file
  #       key: ${{ runner.os }}-pip-${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
  #       restore-keys: |
  #         ${{ runner.os }}-pip-
  #         ${{ runner.os }}-
  #   - name: Install numpy
  #     run: pip install -U numpy
  #   - name: Install dependencies
  #     run: pip install --upgrade --upgrade-strategy eager .[full,test]

  test_matrix:
    name: Test
    runs-on: ubuntu-latest
    needs: [static]
    strategy:
      fail-fast: false
      matrix:
        test-case:
        - test/test_core_classifiers.py
        - test/test_core_regressors.py
        - test/test_core_transformers.py
        - test/test_core_misc.py
        - test/test_lale_lib_versions.py
        - test/test_core_pipeline.py
        - test/test_custom_schemas.py
        - test/test_json_pretty_viz.py
        - test/test_grammar.py
        - test/test_type_checking.py
        - test/test_interoperability.py
        - test/test_optimizers.py
        - test/test_pipeline.py
        - test/test_autoai_libs.py
        - test/test_aif360.py
        - test/test_autoai_output_consumption.py
        - test/test_autogen_lib.py
        - test/test_relational.py
        - test/test_snapml.py
        python-version: [3.6]
        setup-target: ['.[full,test]']
        include:
        - test-case: test/test_autogen_lib.py
          python-version: 3.6
          setup-target: '.[test]'
        - test-case: test/test_halving_gridsearchcv.py
          python-version: 3.6
          setup-target: '.[test]'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system packages
      run: sudo apt-get install graphviz swig
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ${{ env.pythonLocation }}
        # Look to see if there is a cache hit for the setup file
        key: ${{ runner.os }}-pip-${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install numpy
      run: pip install -U numpy
    - name: Install dependencies
      run: pip install --upgrade --upgrade-strategy eager ${{matrix.setup-target}}
    - name: Install deps for test_autoai_output_consumption
      if: ${{ matrix.test-case == 'test/test_autoai_output_consumption.py' }}
      run: pip install 'scikit-learn==0.23.1'
    - name: Install deps for test_lale_lib_versions
      if: ${{ matrix.test-case == 'test/test_lale_lib_versions.py' }}
      run: pip install 'scikit-learn==0.20.3' 'xgboost==0.90'
    - name: Install deps for test_halving_gridsearchcv
      if: ${{ matrix.test-case == 'test/test_halving_gridsearchcv.py' }}
      run: pip install 'scikit-learn==0.24.1'
    - name: Run test
      run: py.test -v --capture=tee-sys --cov-report=xml --cov=lale ${{matrix.test-case}}
    - name: Upload coverage metrics to CodeCov
      uses: codecov/codecov-action@v1

  test_newer:
    name: Test with newest sklearn
    runs-on: ubuntu-latest
    needs: [static]
    strategy:
      fail-fast: false
      matrix:
        test-case:
        - test/test_core_classifiers.py
        - test/test_core_regressors.py
        - test/test_core_transformers.py
        python-version: [3.8]
        setup-target: ['.']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system packages
      run: sudo apt-get install graphviz swig
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ${{ env.pythonLocation }}
        # Look to see if there is a cache hit for the setup file
        key: ${{ runner.os }}-pip-${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install numpy
      run: pip install -U numpy
    - name: Install dependencies
      run: pip install --upgrade --upgrade-strategy eager ${{matrix.setup-target}}
    - name: Install pytest and codecov
      run: pip install pytest-cov codecov
    - name: Install latest scikit-learn, xgboost, and lightgbm
      run: pip install --upgrade --upgrade-strategy eager scikit-learn xgboost lightgbm
    - name: Run test
      run: py.test -v --capture=tee-sys --cov-report=xml --cov=lale ${{matrix.test-case}}
    - name: Upload coverage metrics to CodeCov
      uses: codecov/codecov-action@v1

  test_notebooks:
    name: Test Notebooks
    needs: [static]
    runs-on: ubuntu-latest
    env:
      ALL_NOTEBOOK_CATEGORIES: demo_ docs_ talk_
    strategy:
      fail-fast: false
      matrix:
        category:
        - demo_
        - docs_
        - talk_
        python-version: [3.6]
        setup-target: ['.[full,test]']
        test-case: [test/test_notebooks.py]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ${{ env.pythonLocation }}
        # Look to see if there is a cache hit for the setup file
        key: ${{ runner.os }}-pip-${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install packages
      run: sudo apt-get install graphviz swig
    - name: Install numpy
      run: pip install -U numpy
    - name: Install dependencies
      run: pip install --upgrade --upgrade-strategy eager ${{matrix.setup-target}}
    - name: Run test
      run: NOTEBOOK_CATEGORY=${{matrix.category}} py.test -v --capture=tee-sys --cov-report=xml --cov=lale ${{matrix.test-case}}
    - name: Upload coverage metrics to CodeCov
      uses: codecov/codecov-action@v1

  deploy:
    name: Deploy to TestPyPI
    runs-on: ubuntu-latest
    # This should run only on the master branch of the main repo
    if: github.repository == 'IBM/lale' && github.ref == 'refs/heads/master' && success()
    needs: [static, test_matrix, test_notebooks]
    strategy:
      matrix:
        python-version: [3.6]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install wheel
    - name: Build distribution
      env:
        # integrate with the current system for timestamping versions
        TRAVIS: " "
      run: python setup.py sdist bdist_wheel
    - name: Publish package to TestPyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.test_pypi_password }}
        repository_url: https://test.pypi.org/legacy/
